.head-topic {
  font-family: monospace;
  font-size: 20px
}
form {
  font-size: 20px
}
input {
  flex: 1;
  height: 20px;
  font-size: 15px
}
span {
  width: 200px;
  display: inline-block;
}
.input-container{
  display: flex;
  padding: 10px 0;
}
.form-container{
  padding: 0 10px;
}
button {
  font-size: 20px;
  margin-top: 15px;
  float: right;
}
#input-section {
  background-color:#EAECEE;
  position: absolute;
  width: 100%;
  padding-bottom: 30px;
}
body {
  margin:0;
}