.head-topic {
  font-family: monospace;
  font-size: 20px;
  text-align: center; 
  padding-top: 1px;
}
form {
  font-size: 20px
}
input {
  flex: 1;
  height: 20px;
  font-size: 15pxs
}
span {
  width: 200px;
  display: inline-block;
}
.input-container {
  display: flex;
  padding: 10px 0;
}
.form-container{
  padding: 0 10px;
}
button {
  font-size: 20px;
  margin-top: 15px;
}
#input-section {
  background-color:#EAECEE;
  width: 100%;
  padding-bottom: 30px;
}
body {
  margin:0;
}
.meme-container {
  position:relative;
  width: 350px;
  margin: 0 100px;
}
.top-text {
  position:absolute;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 40px;
  margin: 20px 0;
  font-family: impact;
}
.bottom-text {
  position:absolute;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 40px;
  margin: 20px 0;
  bottom: 5px;
  font-family: impact;
}
.img-input {
  width: 350px;
}

.add-meme-button-container {
  display: flex;
  justify-content: flex-end;
}

#all-meme-container{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}